<script setup lang="ts">
import UploadFile from "./UploadFile.vue";

export interface SelectOptionProps {
    id: number | string;
    name: string;
}

export interface FormItemProps {
    options?: Array<SelectOptionProps>;
    childOptions?: Array<SelectOptionProps>;
    placeholder: string;
    label?: string;
    nameChild?: string;
    type: "input" | "select" | "date" | "textarea" | "file" | "files";
    name: string;
    isLoading?: boolean | true;
    multipleFile?: boolean;
    xs?: number;
    sm?: number;
    showTime?: boolean;
    isParent?: boolean;
    inputType?: string;
}

interface FormGeneratorProps {
    formItems: FormItemProps[];
    formState: any;
}
const { formItems, formState } = defineProps<FormGeneratorProps>();

function sortChild(itemName: string, options: Array<SelectOptionProps>, nameChild: string , nameKey: string) {
    let ind  = formItems.findIndex((elem)=>elem?.name == nameChild)
    formState[nameChild] = null
    let arr = []
    options.map((item: any)=>{
        if(item[nameKey]== formState[itemName]){
            arr.push(item)
        }
    })
    formItems[ind].options = arr
}

</script>
<template>
    <aCol :xs="item.xs" :sm="item.sm" v-for="item in formItems" :span="item.span">
        <a-form-item :name="item.name" class="aFormItem">
            <h5 class="label" v-if="item.label">
                {{ item.label }}
            </h5>
            <template v-if="item.type == 'select' && item?.isParent">
                <a-select @change="sortChild(item.name, item.childOptions, item.nameChild, item.nameChildId)" :allowClear="true"
                    v-model:value="formState[item.name]" :placeholder="''" :options="item.options"
                    :fieldNames="{ label: 'name', value: 'id' }" :loading="item?.isLoading || item.options?.length==0" />
            </template>
            <template v-if="item.type == 'select' && !item?.isParent">
                <a-select :allowClear="true" v-model:value="formState[item.name]" :placeholder="''" :options="item.options"
                    :fieldNames="{ label: 'name', value: 'id' }" :disabled="item?.isLoading || item.options?.length==0" />
            </template>
            <a-input v-if="item.type == 'input'" v-model:value="formState[item.name]" :placeholder="''" :allowClear="true"
                :type="item.inputType" />
            <a-date-picker v-if="item.type == 'date'" v-model:value="formState[item.name]" placeholder="DD-MM-YYYY"
                :show-time="item.showTime" />
            <a-textarea v-if="item.type == 'textarea'" v-model:value="formState[item.name]" :placeholder="item.placeholder"
                :auto-size="{ minRows: 2, maxRows: 100 }" />

            <UploadFile :multiple="item.multipleFile" v-if="item.type == 'file' || item.type == 'files'" />

        </a-form-item>
    </aCol>
</template>
<style lang="scss">
.ant-picker {
    width: 100%;
}
</style>