<script setup lang="ts">
import formGenerator from './components/FormGenerator.vue'
import type {
  FormItemProps,
} from "./components/FormGenerator.vue";
import { computed, ref, watch, reactive } from "vue"
import { field } from "./static-data.ts";

const fields = ref<FormItemProps[]>(field);
const formState = reactive<any>({});
</script>

<template>
  <main>
    <h1>Forma registratsiya</h1>
    <a-row :gutter="[12, 12]">
      <formGenerator :form-state="formState" :form-items="fields" />
    </a-row>
    <a-button type="primary" block>Yuborish</a-button>
  </main>
</template>

<style>
#app {
  padding-top: 50px;
}

main {
  border: 2px solid #eee;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
}
</style>
